.destination_title a {
   font-size: medium !important;
}

.carousel .slide-btn {
   background-color: rgba(58, 128, 144, 0.401) !important;
   font-weight: 600 !important;
   padding-left: 1rem;
   padding-right: 1rem;
}
.newsletter_button{
   transition: all ease 1000ms;
}
.newsletter_button:hover{
   background-color: rgba(210, 40, 46, 0.708);
   border:2px solid rgb(243, 243, 243);

   
}



.carousel-caption h3{
   font-size: clamp(1rem,3vw,2rem) !important;
}

 .header_content_inner .logo a{
   font-size: clamp(1rem,3vw,2rem) !important;
   font-family: 'Montserat','sans-serif'; 

} 
 
