<div class="row about_row">
    <div class="container">
        <div class="about_content w-75 m-auto">
            <div class="section_title">
                <h2 class="text-center text-capitalize">A few words this project.</h2>
            </div>
            <p class="text-center text-justify">
                This project is based on machine learning and web developement.
                State wise rainfall prediction by machine learning algorithms is a machine learning model
                that predict the amount of rainfall over a different region/state of India. Rainfall
                Prediction is the application of science and technology to predict the state of the
                atmosphere for a given location. Rainfall Prediction is one of the difficult and uncertain
                tasks that have a significant impact on human society. Timely and accurate forecasting can
                proactively help reduce human and financial loss. This study presents a set of experiments
                that involve the use of common machine learning techniques to create models that can predict
                whether it will rain tomorrow or not based on the rainfall dataset for that day in different
                state in India.
                By this analysis we can easily classified each state into three category of rain pattern
                that is high, medium, and low. All this information are deployed or provide on web
                interfaced i.e. website by using Django framework. So that client can easily access that
                information on internet.

            </p>
        </div>
    </div>
</div>